<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Players Classement</title>
        <link rel="stylesheet" href="/styles/classement.css?v=1.0">
        <link id="favicon" rel="icon" href="/img/mcc/trophies/total_trophies.png" type="image/png">
    </head>
    <body>
        <div id="bgdark"></div>
        <header class="navbar">
            <nav>
                <ul>
                    <li>
                        <form action="/{{.Lang}}/menu" method="get" class="input-group">
                            <img src="/img/utilities/refresh.png" data-tippy-content="Random Player" class="refresh no-select cursor" onclick="refreshSearch()" draggable="false">
                            <input type="text" name="q" placeholder="Find Player" class="find-player" id="playerInput" required>
                            <button class="show-button cursor" type="submit">Show</button>
                        </form>
                    </li>
                    <li class="page-cath">
                        Classement
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <!-- Conteneur général pour les cartes -->
            <div class="players-container">
                <!-- Classement Card -->
                <div class="players-card" id="playersCard">
                    <div class="stats-header">
                        {{ if .HasPrev }}
                            <img src="/img/mcc/utilities/arrow-left.png" alt="Classement Icon" class="classement-icon go-left cursor no-select go-arrow">
                        {{ end }}
                        <img src="/img/mcc/trophies/total_trophies.png" alt="Classement Icon" class="classement-icon no-select">
                        <h2>{{index .Translations .Lang "cl-classement"}}</h2>
                        {{ if .HasNext }}
                        <img src="/img/mcc/utilities/arrow-right.png" alt="Classement Icon" class="classement-icon go-right cursor no-select go-arrow">
                        {{ end }}
                    </div>
                    <div class="classement-body" id="classementBody">
                        <div class="interclassement-body">
                            {{if .Classement}}
                                {{range .Classement}}
                                    <div class="player-card" data-playeruuid="{{.UUID}}" data-playeractualname="{{.ActualName}}">
                                        <div class="player-info">
                                            <p class="rank">#{{.Rank}}</p>
                                            <img src="https://mc-heads.net/head/{{.UUID}}" class="player-icon no-select no-select">
                                            <p>{{.ActualName}}</p>
                                            {{if .Badge}}
                                                <img src="/img/badges/{{.Badge}}.png" class="badge no-select no-select">
                                            {{end}}
                                        </div>
                                    </div>
                                {{end}}
                            {{else}}
                                <p>La liste ne charge pas</p>
                            {{end}}
                        </div>
                    </div> 
                </div>  
            </div>
            <!-- Modal -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <img src="/img/capes/default-placeholder.png" alt="Image" class="modal-image">
                    </div>
                    <div class="modal-body">
                        <p class="modal-name">Name PlaceHolder</p>
                        <p class="modal-date">Date PlaceHolder</p>
                        <p class="modal-desc">Description PlaceHolder</p>
                        <div class="modal-images" style="display: block;">
                            <img src="/img/capes/default-placeholder.png" title="Default Title" alt="Default Alt" class="modal-image-item" id="modalImage1">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="/js/scroll.js"></script>
        <script src="/js/modal.js"></script>
        <script>
            // Sélectionner tous les éléments .player-card
            const playerCards = document.querySelectorAll('.player-card');

            // Ajouter un événement de clic sur chaque carte
            playerCards.forEach(card => {
                card.addEventListener('click', function() {
                    // Récupérer l'UUID du joueur à partir de l'attribut data-playeruuid
                    const playerUUID = card.getAttribute('data-playeruuid');
                    
                    // Rediriger vers la page en utilisant l'UUID dans l'URL
                    window.location.href = `/{{.Lang}}/menu?q=${playerUUID}`;
                });
            });

            document.addEventListener("DOMContentLoaded", function () {
                function getCurrentPageNumber() {
                    const match = window.location.pathname.match(/\/classement\/(\d+)/);
                    return match ? parseInt(match[1], 10) : 1; // Par défaut, page 1 si non trouvé
                }

                function navigateToPage(pageNumber) {
                    if (pageNumber > 0) { // Empêche d'aller en dessous de 1
                        window.location.href = `/{{.Lang}}/classement/${pageNumber}`;
                    }
                }

                const goLeftButton = document.querySelector('.go-left');
                const goRightButton = document.querySelector('.go-right');

                if (goLeftButton) {
                    goLeftButton.addEventListener('click', function () {
                        navigateToPage(getCurrentPageNumber() - 1);
                    });
                }

                if (goRightButton) {
                    goRightButton.addEventListener('click', function () {
                        navigateToPage(getCurrentPageNumber() + 1);
                    });
                }
            });
        </script>
    </body>
</html>
