<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Players Classement</title>
        <link rel="stylesheet" href="../styles/classement.css?v=1.0">
        <link id="favicon" rel="icon" href="../img/mcc/trophies/total_trophies.png" type="image/png">
    </head>
    <body>
        <div id="bgdark"></div>
        <header class="navbar">
            <nav>
                <ul>
                    <li class="page-cath">
                        Classement
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <!-- Conteneur général pour les cartes -->
            <div class="players-container">
                <!-- Classement Card -->
                <div class="players-card" id="playersCard">
                    <div class="stats-header">
                        {{ if .HasPrev }}
                            <img src="../img/mcc/utilities/arrow-left.png" alt="Classement Icon" class="classement-icon go-left cursor no-select go-arrow">
                        {{ end }}
                        <img src="../img/mcc/trophies/total_trophies.png" alt="Classement Icon" class="classement-icon no-select">
                        <h2>Classement des Joueurs</h2>
                        {{ if .HasNext }}
                        <img src="../img/mcc/utilities/arrow-right.png" alt="Classement Icon" class="classement-icon go-right cursor no-select go-arrow">
                        {{ end }}
                    </div>
                    <div class="classement-body" id="classementBody">
                        <div class="interclassement-body">
                            {{if .Classement}}
                                {{range .Classement}}
                                    <div class="player-card" data-playeruuid="{{.UUID}}" data-playeractualname="{{.ActualName}}">
                                        <div class="player-info">
                                            <p class="rank">#{{.Rank}}</p>
                                            <img src="https://mc-heads.net/head/{{.UUID}}" class="player-icon no-select no-select">
                                            <p>{{.ActualName}}</p>
                                        </div>
                                    </div>
                                {{end}}
                            {{else}}
                                <p>La liste ne charge pas</p>
                            {{end}}
                        </div>
                    </div> 
                </div>  
            </div>
            <!-- Modal -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <img src="../img/capes/default-placeholder.png" alt="Image" class="modal-image">
                    </div>
                    <div class="modal-body">
                        <p class="modal-name">Name PlaceHolder</p>
                        <p class="modal-date">Date PlaceHolder</p>
                        <p class="modal-desc">Description PlaceHolder</p>
                        <div class="modal-images" style="display: block;">
                            <img src="../img/capes/default-placeholder.png" title="Default Title" alt="Default Alt" class="modal-image-item" id="modalImage1">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="../js/scroll.js"></script>
        <script src="../js/modal.js"></script>
        <script src="../js/classement.js"></script>
    </body>
</html>
