<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.Name}} | Profile</title>
        <link rel="stylesheet" href="../styles/menu.css?v=1.0">
        <link rel="stylesheet" href="../styles/cos.css?v=1.0">
        <link id="favicon" rel="icon" href="https://mc-heads.net/avatar/{{.Name}}" type="image/png">
    </head>
    <body style="--bg-image-url: url('../img/utilities{{if .BackgroundUUID}}/perplayers/{{.BackgroundUUID}}/bg.png{{else}}/bg.png{{end}}');">
        <div id="bgdark"></div>
        <header class="navbar" style="background-color: {{if .BackgroundUUID}}{{.BackgroundNavbar}}; border-bottom: 3px solid {{.BackgroundLight}}{{else}}#6E2F2F; border-bottom: 3px solid #B7573A{{end}};">
            <nav>
                <ul>
                    <li>
                        <form action="/menu" method="get" class="input-group">
                            <img src="../img/utilities/refresh.png" data-tippy-content="Random Player" class="refresh no-select cursor" onclick="refreshSearch()">
                            <input type="text" name="q" placeholder="Find Player" class="find-player" id="playerInput" required style="background-color: {{if .BackgroundUUID}}{{.BackgroundDark}}{{else}}#491F1F{{end}};">
                            <button class="show-button cursor" type="submit" style="background-color: {{if .BackgroundUUID}}{{.BackgroundDark}}{{else}}#491F1F{{end}};">Show</button>
                        </form>
                    </li>
                    <li class="page-cath mc-font" style="background-color: {{if .BackgroundUUID}}{{.BackgroundDark}}{{else}}#491F1F{{end}};">Menu</li>
                </ul>
            </nav>
        </header>
        <main>
            <!-- Conteneur général pour les cartes -->
            <div class="stats-container">
                <!-- Player Card -->
                <div class="player-card" id="playerCard">
                    <div class="profile-info">
                        <img id="profileImage" src="https://mc-heads.net/head/{{.Name}}" alt="Player Image" class="profile-image no-select">
                        <p id="playerName" class="{{.PlayerClass}}">{{.Name}}</p>
                        {{if .BackgroundUUID}}
                            <img src="../img/mcc/utilities/theme.png" alt="Player Using Theme" class="theme-image no-select" data-tippy-content="Ce Joueur a demandé au responsable du site d'avoir un thème custom">
                        {{end}}
                    </div>
                </div>
                <!-- Minecraft Stats Card -->
                <div class="minecraftstats-card" id="minecraftStatsCard">
                    <div class="stats-header">
                        <p class="playerRank mc-font" data-tippy-content="{{if eq .PlayerRank -1}}Le joueur ne peut pas être classé{{else}}Rank #{{.PlayerRank}} Database classement{{end}}">
                            {{if eq .PlayerRank -1}}
                                N/A
                            {{else}}
                                <span class="rank-link cursor" onclick="redirectToRankPage('{{.PlayerRankPage}}')">#{{.PlayerRank}}</span>
                            {{end}}
                        </p>                            
                        <img src="../img/utilities/minecrafticon.png" alt="Minecraft Icon" class="minecraft-icon">
                        <h2>Minecraft Capes</h2>
                    </div>
                    <div class="stats-body">
                        {{if .ImageURLs}}
                            {{range .ImageURLs}}
                                <div class="cape-container">
                                    <img src="{{.URL}}" alt="Cape Image" class="cape-image no-select cursor {{.Class}}" data-id="using-modal" data-name="{{.CapeName}}">
                                    <p class="cape-title mc-font">{{.Title}}</p>
                                </div>
                            {{end}}
                        {{else}}
                            <p class="no-cape">Ce joueur ne possède aucune cape</p>
                        {{end}}
                    </div>
                </div>  
                <!-- Badge Card -->
                {{if .BadgeURLs}}
                <div class="badge-card" id="badgeCard">
                    <div class="stats-header">
                        <img src="../img/utilities/badgesicon.png" alt="Badge Icon" class="badge-icon">
                        <h2>Badges</h2>
                    </div>
                    <div class="stats-body">
                        {{range .BadgeURLs}}
                            <img src="{{.URL}}" data-name="{{.BadgeName}}" alt="Badge Image" class="badge-image cursor no-select {{.Class}}" data-id="using-modal {{.BadgeName}}">
                        {{end}}
                    </div>
                </div>
                {{end}}
                <div class="skin-3d no-select" id="PlayerSkin">
                    <div class="stats-header">
                        <img src="https://nmsr.nickac.dev/fullbody/{{.Name}}" style="width: 350px; height: auto;">
                    </div>
                </div>
                <!-- MCC Stats Card -->
                <div class="mccstats-card" id="mccStatsCard">
                    <div class="stats-header">
                        <img src="../img/utilities/mccicon.png" alt="MCC Icon" class="mcc-icon">
                        <h2>MCC Island Stats</h2>
                        <img src="../img/utilities/i.png" data-tippy-content="Api Informations" class="infos no-select cursor" data-id="using-modal" data-name="mcc-infos">
                    </div>
                    <div class="stats-body">
                        <div class="mcc-case mcc-case1">
                            <div class="mcc-header">
                                <img class="mcc-image mcc-rank no-select" src="../img/mcc/ranks/{{if .MccRank}}{{.MccRank}}.png{{else}}PLAYER.png{{end}}" data-tippy-content="{{if .MccRank}}{{.MccRank}}{{else}}PLAYER{{end}}">
                                <p class="mcc-playername mc-font">{{.Name}}</p>
                            </div>
                            <div class="mcc-image mcc-crown">
                                <img class="mcc-actualcrown no-select" src="../img/mcc/crowns/{{if .Evolution}}{{.Evolution}}.png{{else}}0.png{{end}}" data-tippy-content="Crown Level">
                                <p class="mcc-actualcrownlevel mc-font">{{.CrownLevel}}</p>
                                <!-- Progress Bar -->
                                <progress class="mcc-crownbar mcc-crown{{.Evolution}}" value="{{.CrownObtained}}" max="{{.CrownObtainable}}"></progress>
                                <p class="mcc-futurcrownlevel mc-font">{{.CrownLevelplus1}}</p>
                            </div>
                            <div class="mcc-pourcentprogress">
                                <p class="mcc-crownprogress mc-font">Progress: </p><p class="mcc-crownprogresspourcent mc-font">{{.CrownPourcentage}}%</p><p class="mcc-crownprogress mc-font"> ({{.CrownObtained}}/{{.CrownObtainable}})</p>
                            </div>
                            <div class="mcc-image mcc-crown">
                                <img class="mcc-actualcrown no-select" src="../img/mcc/crowns/fishing{{if .FishingEvolution}}{{.FishingEvolution}}.png{{else}}0.png{{end}}" data-tippy-content="Fishing Level">
                                <p class="mcc-actualcrownlevel mc-font">{{.FishingLevel}}</p>
                                <!-- Progress Bar -->
                                <progress class="mcc-crownbar mcc-crown{{.FishingEvolution}}" value="{{.FishingObtained}}" max="{{.FishingObtainable}}"></progress>
                                <p class="mcc-futurcrownlevel mc-font">{{.FishingLevelplus1}}</p>
                            </div>
                            <div class="mcc-pourcentprogress">
                                <p class="mcc-crownprogress mc-font">Progress: </p><p class="mcc-crownprogresspourcent mc-font">{{.FishingPourcentage}}%</p><p class="mcc-crownprogress mc-font"> ({{.FishingObtained}}/{{.FishingObtainable}})</p>
                            </div>
                        </div> 
                        <div class="mcc-bigcase">
                            <div class="mcc-case mcc-case2">
                                <h3>Wallet</h3>
                                <div class="mcc-list-item mc-font">
                                    <img class="no-select" src="../img/mcc/wallet/coins.png" data-tippy-content="Coins">
                                    <p class="text">{{.CurrencyCoins}}</p>
                                </div>
                                <div class="mcc-list-item mc-font">
                                    <img class="no-select" src="../img/mcc/wallet/silver.png " data-tippy-content="Silver">
                                    <p class="text">{{.CurrencySilver}}</p>
                                </div>
                                <div class="mcc-list-item mc-font">
                                    <img class="no-select" src="../img/mcc/wallet/material_dust.png" data-tippy-content="Dust">
                                    <p class="text">{{.CurrencyMaterialDust}}</p>
                                </div>
                                <div class="mcc-list-item mc-font">
                                    <img class="no-select" src="../img/mcc/wallet/royal_reputation.png" data-tippy-content="Royal Reputation">
                                    <p class="text">{{.CurrencyRoyalRep}}</p>
                                </div>
                                <div class="mcc-list-item mc-font">
                                    <img class="no-select" src="../img/mcc/wallet/anglr_token.png" data-tippy-content="Angler Token">
                                    <p class="text">{{.CurrencyAnglrTokens}}</p>
                                </div>
                            </div>
                            <div class="mcc-case mcc-case3">
                                <h3>Trophies</h3>
                                <div class="mcc-list-item mc-font">
                                    <img class="no-select" src="../img/mcc/trophies/total_trophies.png" data-tippy-content="Total Trophies">
                                    <p class="text">{{.TotalTrophies}}</p>
                                    <p class="text-gray"> /{{.MaxTotalTrophies}}</p>
                                </div>
                                <div class="mcc-list-item mc-font">
                                    <img class="no-select" src="../img/mcc/trophies/skill_trophies.png" data-tippy-content="Skill Trophies">
                                    <p class="text">{{.SKILLTrophies}}</p>
                                    <p class="text-gray"> /{{.MaxSKILLTrophies}}</p>
                                </div>
                                <div class="mcc-list-item mc-font">
                                    <img class="no-select" src="../img/mcc/trophies/style_trophies.png" data-tippy-content="Style Trophies">
                                    <p class="text">{{.STYLETrophies}}</p>
                                    <p class="text-gray"> /{{.MaxSTYLETrophies}}</p>
                                </div>
                                <div class="mcc-list-item mc-font">
                                    <img class="no-select" src="../img/mcc/trophies/angler_trophies.png" data-tippy-content="Angler Trophies">
                                    <p class="text">{{.ANGLERTrophies}}</p>
                                    <p class="text-gray"> /{{.MaxANGLERTrophies}}</p>
                                </div>
                                <div class="mcc-list-item mc-font">
                                    <img class="no-select" src="../img/mcc/trophies/bonus_trophies.png" data-tippy-content="Bonus Trophies">
                                    <p class="text">{{.BonusTrophies}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="rolls-card">
                            <!-- Friends Roll -->
                            <div class="roll-card friends-card" id="friendsCard">
                                <div class="roll-header friends-header cursor" onclick="toggleRoll('friendsBody', 'friends-arrow')">
                                    <img src="../img/mcc/utilities/friends.png" alt="Friends Icon" class="roll-icon no-select">
                                    <h2>Friends</h2>
                                    <img id="friends-arrow" src="../img/mcc/utilities/arrow-left.png" alt="Arrow" class="arrow no-select">
                                </div>
                                <div class="roll-body" id="friendsBody">
                                    <div class="interfriends-body">
                                        {{if .Friends}} 
                                            {{range .Friends}}
                                                <div class="friend-card cursor" data-playername="{{.Username}}" onclick="searchPlayer(this)">
                                                    <div class="friend-info">
                                                        <div class="friend-head">
                                                            <img src="https://mc-heads.net/head/{{.Username}}" class="friends-icon no-select">
                                                            <div class="online-status {{if .Online}}online{{else}}offline{{end}}" data-tippy-content="{{if .Online}}Online{{else}}Offline{{end}}"></div>
                                                        </div>
                                                        <img src="../img/mcc/crowns/{{if .CrownLevel.Evolution}}{{.CrownLevel.Evolution}}.png{{else}}0.png{{end}}" class="friends-icon no-select" data-tippy-content="{{.CrownLevel.Level}}">
                                                        <img src="../img/mcc/ranks/{{if .Ranks}}{{.Ranks}}.png{{else}}PLAYER.png{{end}}" class="friends-icon no-select" data-tippy-content="{{if .Ranks}}{{.Ranks}}{{else}}PLAYER{{end}}">
                                                        <p class="">{{.Username}}</p>
                                                    </div>
                                                </div>
                                            {{end}}
                                        {{else}}
                                            <p>Le Joueur ne possède aucun ami, ou n'a pas les API ouvertes.</p>
                                        {{end}}
                                    </div>
                                </div>                           
                            </div>
                            <!-- MccGames Roll-->
                            <div class="roll-card mccgames-card" id="MccGamesCard">
                                <div class="roll-header rollstat-header cursor" onclick="toggleRoll('MccGamesBody', 'mccgames-arrow')">
                                    <img src="../img/mcc/trophies/total_trophies.png" alt="MccGames Icon" class="roll-icon no-select">
                                    <h2>Stats</h2>
                                    <img id="mccgames-arrow" src="../img/mcc/utilities/arrow-left.png" alt="Arrow" class="arrow no-select">
                                </div>
                                <div class="roll-body" id="MccGamesBody">
                                    {{if ne .GameStats.TotalGames 0}} <!-- Teste si TotalGames est différent de 0 -->
                                        <div class="upcath-body">
                                            <div class="subcath-body">
                                                <div class="subcath-header mc-font">
                                                    <img src="../img/mcc/games/games.png" class="roll-icon no-select">
                                                    <p style="color: white;">General Stats</p>
                                                </div> 
                                                <div class="general-stats">
                                                    <div id="GamesGraph" class="gamesgraph"></div>
                                                    <div class="graph-numbers mc-font">
                                                        <p style="color: white;">Games Played</p>
                                                        <div class="graph-games-played">
                                                            <div class="line-content">
                                                                <img src="../img/mcc/games/sky-battle.png" class="no-select" data-tippy-content="Sky Battle">
                                                                <p class="graph-numbers-content">- {{.GameStats.SBGames}}</p>
                                                            </div>
                                                            <div class="line-content">
                                                                <img src="../img/mcc/games/battle-box.png" class="no-select" data-tippy-content="Battle Box">
                                                                <p class="graph-numbers-content">- {{.GameStats.BBGames}}</p>
                                                            </div>
                                                            <div class="line-content">
                                                                <img src="../img/mcc/games/tgttos.png" class="no-select" data-tippy-content="TGTTOS">
                                                                <p class="graph-numbers-content">- {{.GameStats.TGTTOSGames}}</p>
                                                            </div>
                                                            <div class="line-content">
                                                                <img src="../img/mcc/games/hole-in-the-wall.png" class="no-select" data-tippy-content="Hole in the Wall">
                                                                <p class="graph-numbers-content">- {{.GameStats.HITWGames}}</p>
                                                            </div>
                                                            <div class="line-content">
                                                                <img src="../img/mcc/games/rocket-spleef.png" class="no-select" data-tippy-content="Rocket Spleef Rush">
                                                                <p class="graph-numbers-content">- {{.GameStats.RSGames}}</p>
                                                            </div>
                                                            <div class="line-content">
                                                                <img src="../img/mcc/games/dynaball.png" class="no-select" data-tippy-content="Dynaball">
                                                                <p class="graph-numbers-content">- {{.GameStats.DBGames}}</p>
                                                            </div>
                                                            <div class="line-content">
                                                                <img src="../img/mcc/games/pws.png" class="no-select" data-tippy-content="Parkour Warrior Survivor">
                                                                <p class="graph-numbers-content">- {{.GameStats.PWSGames}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="games-stats">
                                                <div class="subcath-body2">
                                                    <div class="subcath-header mc-font">
                                                        <div class="subcath-header-content">
                                                            <img src="../img/mcc/games/sky-battle.png" class="roll-icon no-select">
                                                            <p style="color: white;">Sky-Battle Stats</p>
                                                        </div>
                                                    </div>
                                                    <div class="general-stats">
                                                        <div class="subcath-case">
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/win.png" class="no-select" data-tippy-content="Wins">
                                                                <p class="mc-font color-white">Wins: </p>
                                                                <p class="mc-font">{{.GameStats.SB_Wins}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/lose.png" class="no-select" data-tippy-content="Loses">
                                                                <p class="mc-font color-white">Loses: </p>
                                                                <p class="mc-font">{{.GameStats.SB_Loses}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/{{if ge .GameStats.SB_WLR 0.125}}up{{else}}down{{end}}.png" class="no-select" data-tippy-content="(Wins per Lose) Average - 0.125">
                                                                <p class="mc-font color-white">WLR: </p>
                                                                <p class="mc-font">({{.GameStats.SB_WLR}})</p>
                                                            </div>
                                                        </div>
                                                        <div class="subcath-case">
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/kill.png" class="no-select" data-tippy-content="Kills">
                                                                <p class="mc-font color-white">Kills: </p>
                                                                <p class="mc-font">{{.GameStats.SB_Kills}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/death.png" class="no-select" data-tippy-content="Deaths">
                                                                <p class="mc-font color-white">Deaths: </p>
                                                                <p class="mc-font">{{.GameStats.SB_Deaths}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/{{if ge .GameStats.SB_KDR 0.9}}up{{else}}down{{end}}.png" class="no-select" data-tippy-content="(Kills per Death) Average - 0.9">
                                                                <p class="mc-font color-white">KDR: </p>
                                                                <p class="mc-font">({{.GameStats.SB_KDR}})</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="subcath-body2">
                                                    <div class="subcath-header mc-font">
                                                        <div class="subcath-header-content">
                                                            <img src="../img/mcc/games/battle-box.png" class="roll-icon no-select">
                                                            <p style="color: white;">Battle-Box Stats</p>
                                                        </div>
                                                    </div>
                                                    <div class="general-stats">
                                                        <div class="subcath-case">
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/win.png" class="no-select" data-tippy-content="Wins">
                                                                <p class="mc-font color-white">Wins: </p>
                                                                <p class="mc-font">{{.GameStats.BB_Wins}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/lose.png" class="no-select" data-tippy-content="Loses">
                                                                <p class="mc-font color-white">Loses: </p>
                                                                <p class="mc-font">{{.GameStats.BB_Loses}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/{{if ge .GameStats.BB_WLR 0.125}}up{{else}}down{{end}}.png" class="no-select" data-tippy-content="(Wins per Lose) Average - 0.125">
                                                                <p class="mc-font color-white">WLR: </p>
                                                                <p class="mc-font">({{.GameStats.BB_WLR}})</p>
                                                            </div>
                                                        </div>
                                                        <div class="subcath-case">
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/kill.png" class="no-select" data-tippy-content="Kills">
                                                                <p class="mc-font color-white">Kills: </p>
                                                                <p class="mc-font">{{.GameStats.BB_Kills}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/death.png" class="no-select" data-tippy-content="Deaths">
                                                                <p class="mc-font color-white">Deaths: </p>
                                                                <p class="mc-font">{{.GameStats.BB_Deaths}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/{{if ge .GameStats.BB_KDR 1.0}}up{{else}}down{{end}}.png" class="no-select" data-tippy-content="(Kills per Death) Average - 1.0">
                                                                <p class="mc-font color-white">KDR: </p>
                                                                <p class="mc-font">({{.GameStats.BB_KDR}})</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="subcath-body2">
                                                    <div class="subcath-header mc-font">
                                                        <div class="subcath-header-content">
                                                            <img src="../img/mcc/games/tgttos.png" class="roll-icon no-select">
                                                            <p style="color: white;">TGTTOS Stats</p>
                                                        </div>
                                                    </div> 
                                                    <div class="general-stats">
                                                        <div class="subcath-case">
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/win.png" class="no-select" data-tippy-content="Wins">
                                                                <p class="mc-font color-white">Wins: </p>
                                                                <p class="mc-font">{{.GameStats.TGTTOS_Wins}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/lose.png" class="no-select" data-tippy-content="Loses">
                                                                <p class="mc-font color-white">Loses: </p>
                                                                <p class="mc-font">{{.GameStats.TGTTOS_Loses}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/{{if ge .GameStats.TGTTOS_WLR 0.05}}up{{else}}down{{end}}.png" class="no-select" data-tippy-content="(Wins per Lose) Average - 0.05">
                                                                <p class="mc-font color-white">WLR: </p>
                                                                <p class="mc-font">({{.GameStats.TGTTOS_WLR}})</p>
                                                            </div>
                                                        </div>
                                                        <div class="subcath-case">
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/tgttos.png" class="no-select" data-tippy-content="Chickens Punched">
                                                                <p class="mc-font color-white">Chicks: </p>
                                                                <p class="mc-font">{{.GameStats.TGTTOS_Chicks}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/games.png" class="no-select" data-tippy-content="Games">
                                                                <p class="mc-font color-white">Games: </p>
                                                                <p class="mc-font">{{.GameStats.TGTTOSGames}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/{{if ge .GameStats.TGTTOS_CGR 2.8}}up{{else}}down{{end}}.png" class="no-select" data-tippy-content="(Chicks per Game) Average - 2.8">
                                                                <p class="mc-font color-white">CGR: </p>
                                                                <p class="mc-font">({{.GameStats.TGTTOS_CGR}})</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="subcath-body2">
                                                    <div class="subcath-header mc-font">
                                                        <div class="subcath-header-content">
                                                            <img src="../img/mcc/games/hole-in-the-wall.png" class="roll-icon no-select">
                                                            <p style="color: white;">Hole-In-The-Wall Stats</p>
                                                        </div>
                                                    </div> 
                                                    <div class="general-stats">
                                                        <div class="subcath-case">
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/win.png" class="no-select" data-tippy-content="Wins">
                                                                <p class="mc-font color-white">Wins: </p>
                                                                <p class="mc-font">{{.GameStats.HITW_Wins}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/lose.png" class="no-select" data-tippy-content="Loses">
                                                                <p class="mc-font color-white">Loses: </p>
                                                                <p class="mc-font">{{.GameStats.HITW_Loses}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/{{if ge .GameStats.HITW_WLR 0.1}}up{{else}}down{{end}}.png" class="no-select" data-tippy-content="(Wins per Lose) Average - 0.1">
                                                                <p class="mc-font color-white">WLR: </p>
                                                                <p class="mc-font">({{.GameStats.HITW_WLR}})</p>
                                                            </div>
                                                        </div>
                                                        <div class="subcath-case">
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/hole-in-the-wall.png" class="no-select" data-tippy-content="Walls Dodged">
                                                                <p class="mc-font color-white">Walls: </p>
                                                                <p class="mc-font">{{.GameStats.HITW_Wallsdodged}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/games.png" class="no-select" data-tippy-content="Games">
                                                                <p class="mc-font color-white">Games: </p>
                                                                <p class="mc-font">{{.GameStats.HITWGames}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/{{if ge .GameStats.HITW_WGR 10.0}}up{{else}}down{{end}}.png" class="no-select" data-tippy-content="(Wall per Game) Average - 10.0">
                                                                <p class="mc-font color-white">WGR: </p>
                                                                <p class="mc-font">({{.GameStats.HITW_WGR}})</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="subcath-body2">
                                                    <div class="subcath-header mc-font">
                                                        <div class="subcath-header-content">
                                                            <img src="../img/mcc/games/rocket-spleef.png" class="roll-icon no-select">
                                                            <p style="color: white;">Rocket-Spleef-Rush Stats</p>
                                                        </div>
                                                    </div> 
                                                    <div class="general-stats">
                                                        <div class="subcath-case">
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/win.png" class="no-select" data-tippy-content="Wins">
                                                                <p class="mc-font color-white">Wins: </p>
                                                                <p class="mc-font">{{.GameStats.RS_Wins}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/lose.png" class="no-select" data-tippy-content="Loses">
                                                                <p class="mc-font color-white">Loses: </p>
                                                                <p class="mc-font">{{.GameStats.RS_Loses}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/{{if ge .GameStats.RS_WLR 0.1}}up{{else}}down{{end}}.png" class="no-select" data-tippy-content="(Wins per Lose) Average - 0.1">
                                                                <p class="mc-font color-white">WLR: </p>
                                                                <p class="mc-font">({{.GameStats.RS_WLR}})</p>
                                                            </div>
                                                        </div>
                                                        <div class="subcath-case">
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/kill.png" class="no-select" data-tippy-content="Kills">
                                                                <p class="mc-font color-white">Kills: </p>
                                                                <p class="mc-font">{{.GameStats.RS_Kills}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/death.png" class="no-select" data-tippy-content="Deaths">
                                                                <p class="mc-font color-white">Deaths: </p>
                                                                <p class="mc-font">{{.GameStats.RS_Deaths}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/{{if ge .GameStats.RS_KDR 0.5}}up{{else}}down{{end}}.png" class="no-select" data-tippy-content="(Kills per Death) Average - 0.5">
                                                                <p class="mc-font color-white">KDR: </p>
                                                                <p class="mc-font">({{.GameStats.RS_KDR}})</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="subcath-body2">
                                                    <div class="subcath-header mc-font">
                                                        <img src="../img/mcc/games/dynaball.png" class="roll-icon no-select">
                                                        <p style="color: white;">Dynaball Stats</p>
                                                    </div> 
                                                    <div class="general-stats">
                                                        <div class="subcath-case">
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/win.png" class="no-select" data-tippy-content="Wins">
                                                                <p class="mc-font color-white">Wins: </p>
                                                                <p class="mc-font">{{.GameStats.DB_Wins}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/lose.png" class="no-select" data-tippy-content="Loses">
                                                                <p class="mc-font color-white">Loses: </p>
                                                                <p class="mc-font">{{.GameStats.DB_Loses}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/{{if ge .GameStats.DB_WLR 1.0}}up{{else}}down{{end}}.png" class="no-select" data-tippy-content="(Wins per Lose) Average - 1.0">
                                                                <p class="mc-font color-white">WLR: </p>
                                                                <p class="mc-font">({{.GameStats.DB_WLR}})</p>
                                                            </div>
                                                        </div>
                                                        <div class="subcath-case">
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/kill.png" class="no-select" data-tippy-content="Kills">
                                                                <p class="mc-font color-white">Kills: </p>
                                                                <p class="mc-font">{{.GameStats.DB_Kills}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/death.png" class="no-select" data-tippy-content="Deaths">
                                                                <p class="mc-font color-white">Deaths: </p>
                                                                <p class="mc-font">{{.GameStats.DB_Deaths}}</p>
                                                            </div>
                                                            <div class="line-content2">
                                                                <img src="../img/mcc/games/stats/{{if ge .GameStats.DB_KDR 1.0}}up{{else}}down{{end}}.png" class="no-select" data-tippy-content="(Kills per Death) Average - 1.0">
                                                                <p class="mc-font color-white">KDR: </p>
                                                                <p class="mc-font">({{.GameStats.DB_KDR}})</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{else}}
                                        <p>Le Joueur n'a aucune stats sur le serveur, ou n'a pas les API d'ouverts</p>
                                    {{end}}
                                </div>
                            </div>
                            <!-- Cosmetics Roll -->
                            <div class="roll-card cosmetics-card" id="CosmeticsCard">
                                <div class="roll-header cosmetics-header cursor" onclick="toggleRoll('CosmeticsBody', 'cosmetics-arrow')">
                                    <img src="../img/mcc/utilities/theme.png" alt="Cosmetics Icon" class="roll-icon no-select">
                                    <h2>Cosmetics</h2>
                                    <img id="cosmetics-arrow" src="../img/mcc/utilities/arrow-left.png" alt="Arrow" class="arrow no-select">
                                </div>
                                <div class="roll-body" id="CosmeticsBody">
                                    <div class="cos-selector">
                                        <button onclick="changeContent(this, 'equipped-content')" class="selected">
                                            <img src="../img/mcc/cos/Equipped.png" alt="Equipped">
                                            <span class="cos-text mc-font">Equipped</span>
                                        </button>
                                        <button onclick="changeContent(this, 'hats-content')">
                                            <img src="../img/mcc/cos/Hats.png" alt="Hats">
                                            <span class="cos-text mc-font">Hats</span>
                                        </button>
                                        <button onclick="changeContent(this, 'accessories-content')">
                                            <img src="../img/mcc/cos/Accessories.png" alt="Accessories">
                                            <span class="cos-text mc-font">Accessories</span>
                                        </button>
                                        <button onclick="changeContent(this, 'auras-content')">
                                            <img src="../img/mcc/cos/Auras.png" alt="Auras">
                                            <span class="cos-text mc-font">Auras</span>
                                        </button>
                                        <button onclick="changeContent(this, 'trails-content')">
                                            <img src="../img/mcc/cos/Trails.png" alt="Trails">
                                            <span class="cos-text mc-font">Trails</span>
                                        </button>
                                        <button onclick="changeContent(this, 'backs-content')">
                                            <img src="../img/mcc/cos/Backs.png" alt="Backs">
                                            <span class="cos-text mc-font">Backs</span>
                                        </button>
                                        <button onclick="changeContent(this, 'fishing-content')">
                                            <img src="../img/mcc/cos/Fishing_Rods.png" alt="Fishing Rods">
                                            <span class="cos-text mc-font">Fishing Rods</span>
                                        </button>
                                    </div>
                                    <div class="cos-display-box">
                                        <div id="equipped-content" class="content active">
                                            <h2>Équipé</h2>
                                            <p>Voici les objets actuellement équipés.</p>
                                            <p>Ceci est un PlaceHolder</p>
                                        </div>
                                        <div id="hats-content" class="content hidden">
                                            <h2>Chapeaux</h2>
                                            <p>Voici les cheapeaux actuellement possédés.</p>
                                            <p>Ceci est un PlaceHolder</p>
                                        </div>
                                        <div id="accessories-content" class="content hidden">
                                            <h2>Accessoires</h2>
                                            <p>Voici les Accessoires actuellement possédés.</p>
                                            <p>Ceci est un PlaceHolder</p>
                                        </div>
                                        <div id="auras-content" class="content hidden">
                                            <h2>Auras</h2>
                                            <p>Voici les Auras actuellement possédées.</p>
                                            <p>Ceci est un PlaceHolder</p>
                                        </div>
                                        <div id="trails-content" class="content hidden">
                                            <h2>Trails</h2>
                                            <p>Voici les Trails actuellement possédées.</p>
                                            <p>Ceci est un PlaceHolder</p>
                                        </div>
                                        <div id="backs-content" class="content hidden">
                                            <h2>Backs</h2>
                                            <p>Voici les objets à porter sur le dos actuellement possédés.</p>
                                            <p>Ceci est un PlaceHolder</p>
                                        </div>
                                        <div id="fishing-content" class="content hidden">
                                            <h2>Fishing Rods</h2>
                                            <p>Voici les Cannes à pèches actuellement possédés.</p>
                                            <p>Ceci est un PlaceHolder</p>
                                        </div>
                                    </div>
                                </div>                           
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hypixel Stats Card -->
                <div class="hypixelstats-card" id="hypixelStatsCard">
                    <div class="stats-header">
                        <img src="../img/utilities/hypixelicon.png" alt="Hypixel Icon" class="hypixel-icon">
                        <h2>Hypixel Stats</h2>
                    </div>
                    <div class="stats-body">
                        <p id="hypixelStats">Will be  available soon!!!</p>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <img src="../img/capes/default-placeholder.png" alt="Image" class="modal-image no-select">
                    </div>
                    <div class="modal-body">
                        <p class="modal-name">Name PlaceHolder</p>
                        <p class="modal-date">Date PlaceHolder</p>
                        <p class="modal-desc">Description PlaceHolder</p>
                        <div class="modal-images no-select" style="display: block;">
                            <img src="../img/capes/default-placeholder.png" title="Default Title" alt="Default Alt" class="modal-image-item no-select" id="modalImage1">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="../js/scroll.js"></script>
        <script src="../js/modal.js"></script>
        <script src="../js/cos.js"></script>
        <script src="../js/friends.js"></script>
        <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
        <script src ="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
        <script src ="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script>
            function redirectToRankPage(rankPage) {
                window.location.href = "/classement/" + rankPage;
            }
            function refreshSearch() {
                window.location.href = "/menu"
            }
            tippy("[data-tippy-content]", {
                duration: 500,
            });
            window.onload = function () {
                var chart = new CanvasJS.Chart("GamesGraph", {
                    backgroundColor: "transparent",
                    theme: "dark2",
                    data: [{
                        type: "pie",
                        startAngle: 60,
                        toolTipContent: "<b>{label}</b>: {y} Games",
                        radius: 100,
                        dataLabels: {
                            fontColor: "white" // Couleur du texte des segments en blanc
                        },
                        dataPoints: [
                            { y: '{{.GameStats.SBGames}}', label: "Sky Battle" },
                            { y: '{{.GameStats.BBGames}}', label: "Battle Box" },
                            { y: '{{.GameStats.TGTTOSGames}}', label: "TGTTOS" },
                            { y: '{{.GameStats.HITWGames}}', label: "Hole in the wall" },
                            { y: '{{.GameStats.RSGames}}', label: "Rocket Spleef Rush" },
                            { y: '{{.GameStats.DBGames}}', label: "Dynaball" },
                            { y: '{{.GameStats.PWSGames}}', label: "Parkour Survivor" }
                        ]
                    }],
                });
                chart.render();
            }
        </script>
    </body>
</html>
