<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.Name}} | Profile</title>
        <link rel="stylesheet" href="../styles/menu.css?v=1.0">
        <link id="favicon" rel="icon" href="https://mc-heads.net/avatar/{{.Name}}" type="image/png">
    </head>
    <body>
        <div id="bgdark"></div>
        <header class="navbar">
            <nav>
                <ul>
                    <li>
                        <form action="/menu" method="get" class="input-group">
                            <input type="text" name="playername" placeholder="Find Player" class="find-player"
                                id="playerInput" required>
                            <button class="show-button" type="submit">Show</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <!-- Conteneur général pour les cartes -->
            <div class="stats-container">
                <!-- Player Card -->
                <div class="player-card" id="playerCard">
                    <div class="profile-info">
                        <img id="profileImage" src="https://mc-heads.net/head/{{.Name}}" alt="Player Image" class="profile-image">
                        <p id="playerName" class="{{.PlayerClass}}">{{.Name}}</p>
                    </div>
                </div>
                <!-- Minecraft Stats Card -->
                <div class="minecraftstats-card" id="minecraftStatsCard">
                    <div class="stats-header">
                        <img src="../img/utilities/minecrafticon.png" alt="Minecraft Icon" class="minecraft-icon">
                        <h2>Minecraft Capes</h2>
                    </div>
                    <div class="stats-body">
                        {{if .ImageURLs}}
                            {{range .ImageURLs}}
                                <img src="{{.URL}}" title="{{.CapeName}}" alt="Cape Image" class="cape-image {{.Class}}" data-id="using-modal">
                            {{end}}
                        {{else}}
                            <p class="no-cape">Ce joueur ne possède aucune cape</p>
                        {{end}}
                    </div>
                </div>  
                <!-- Badge Card -->
                {{if .BadgeURLs}}
                <div class="badge-card" id="badgeCard">
                    <div class="stats-header">
                        <img src="../img/utilities/badgesicon.png" alt="Badge Icon" class="badge-icon">
                        <h2>Badges</h2>
                    </div>
                    <div class="stats-body">
                        {{range .BadgeURLs}}
                            <img src="{{.URL}}" title="{{.BadgeName}}" alt="Badge Image" class="badge-image {{.Class}}" data-id="using-modal {{.BadgeName}}">
                        {{end}}
                    </div>
                </div>
                {{end}}
                <div class="skin-3d" id="PlayerSkin">
                    <div class="stats-header">
                        <img src="https://nmsr.nickac.dev/fullbody/{{.Name}}" style="width: 350px; height: auto;">
                    </div>
                </div>
                <!-- Hypixel Stats Card -->
                <div class="hypixelstats-card" id="hypixelStatsCard">
                    <div class="stats-header">
                        <img src="../img/utilities/hypixelicon.png" alt="Hypixel Icon" class="hypixel-icon">
                        <h2>Hypixel Stats</h2>
                    </div>
                    <div class="stats-body">
                        <p id="hypixelStats">Les statistiques du joueur seront affichées ici.</p>
                    </div>
                </div>
                <!-- MCC Stats Card -->
                <div class="mccstats-card" id="mccStatsCard">
                    <div class="stats-header">
                        <img src="../img/utilities/mccicon.png" alt="MCC Icon" class="mcc-icon">
                        <h2>MCC Stats</h2>
                    </div>
                    <div class="stats-body">
                        <p id="mccStats">Les statistiques MCC du joueur seront affichées ici.</p>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <img src="https://mc-heads.net/head/{{.Name}}" alt="Player Image" class="modal-image">
                    </div>
                    <div class="modal-body">
                        <p class="modal-name">Name PlaceHolder</p>
                        <p class="modal-date">Date PlaceHolder</p>
                        <p class="modal-desc">Description PlaceHolder</p>
                        <div class="modal-images" style="display: block;">
                            <img src="../img/capes/default-placeholder.png" title="Default Title" alt="Default Alt" class="modal-image-item" id="modalImage1">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="../js/menu.js"></script>
        <script src="../js/modal.js"></script>
    </body>
</html>
