<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.Name}} | Profile</title>
        <link rel="stylesheet" href="../styles/menu.css?v=1.0">
        <link id="favicon" rel="icon" href="https://mc-heads.net/avatar/{{.Name}}" type="image/png">
    </head>
    <body>
        <div id="bgdark"></div>
        <header class="navbar">
            <nav>
                <ul>
                    <li>
                        <form action="/menu" method="get" class="input-group">
                            <img src="../img/utilities/refresh.png" data-tippy-content="Random Player" class="refresh no-select cursor" onclick="refreshSearch()">
                            <input type="text" name="q" placeholder="Find Player" class="find-player"
                                id="playerInput" required>
                            <button class="show-button cursor" type="submit">Show</button>
                        </form>
                    </li>
                    <li class="page-cath">
                        Menu
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <!-- Conteneur général pour les cartes -->
            <div class="stats-container">
                <!-- Player Card -->
                <div class="player-card" id="playerCard">
                    <div class="profile-info">
                        <img id="profileImage" src="https://mc-heads.net/head/{{.Name}}" alt="Player Image" class="profile-image no-select">
                        <p id="playerName" class="{{.PlayerClass}}">{{.Name}}</p>
                    </div>
                </div>
                <!-- Minecraft Stats Card -->
                <div class="minecraftstats-card" id="minecraftStatsCard">
                    <div class="stats-header">
                        <p class="playerRank" data-tippy-content="{{if eq .PlayerRank -1}}Le joueur ne peut pas être classé{{else}}Rank #{{.PlayerRank}} Database classement{{end}}">
                            {{if eq .PlayerRank -1}}
                                N/A
                            {{else}}
                                <span class="rank-link cursor" onclick="redirectToRankPage('{{.PlayerRankPage}}')">#{{.PlayerRank}}</span>
                            {{end}}
                        </p>                            
                        <img src="../img/utilities/minecrafticon.png" alt="Minecraft Icon" class="minecraft-icon">
                        <h2>Minecraft Capes</h2>
                    </div>
                    <div class="stats-body">
                        {{if .ImageURLs}}
                            {{range .ImageURLs}}
                                <div class="cape-container">
                                    <img src="{{.URL}}" alt="Cape Image" class="cape-image no-select cursor {{.Class}}" data-id="using-modal" data-name="{{.CapeName}}">
                                    <p class="cape-title">{{.Title}}</p>
                                </div>
                            {{end}}
                        {{else}}
                            <p class="no-cape">Ce joueur ne possède aucune cape</p>
                        {{end}}
                    </div>
                </div>  
                <!-- Badge Card -->
                {{if .BadgeURLs}}
                <div class="badge-card" id="badgeCard">
                    <div class="stats-header">
                        <img src="../img/utilities/badgesicon.png" alt="Badge Icon" class="badge-icon">
                        <h2>Badges</h2>
                    </div>
                    <div class="stats-body">
                        {{range .BadgeURLs}}
                            <img src="{{.URL}}" data-name="{{.BadgeName}}" alt="Badge Image" class="badge-image cursor no-select {{.Class}}" data-id="using-modal {{.BadgeName}}">
                        {{end}}
                    </div>
                </div>
                {{end}}
                <div class="skin-3d no-select" id="PlayerSkin">
                    <div class="stats-header">
                        <img src="https://nmsr.nickac.dev/fullbody/{{.Name}}" style="width: 350px; height: auto;">
                    </div>
                </div>
                <!-- MCC Stats Card -->
                <div class="mccstats-card" id="mccStatsCard">
                    <div class="stats-header">
                        <img src="../img/utilities/mccicon.png" alt="MCC Icon" class="mcc-icon">
                        <h2>MCC Island Stats</h2>
                        <img src="../img/utilities/i.png" data-tippy-content="Api Informations" class="infos no-select cursor" data-id="using-modal" data-name="mcc-infos">
                    </div>
                    <div class="stats-body">
                        <div class="mcc-case mcc-case1">
                            <div class="mcc-header">
                                <img class="mcc-image mcc-rank no-select" src="../img/mcc/ranks/{{if .MccRank}}{{.MccRank}}.png{{else}}PLAYER.png{{end}}" data-tippy-content="{{if .MccRank}}{{.MccRank}}{{else}}PLAYER{{end}}">
                                <p class="mcc-playername">{{.Name}}</p>
                            </div>
                            <div class="mcc-image mcc-crown">
                                <img class="mcc-actualcrown no-select" src="../img/mcc/crowns/{{if .Evolution}}{{.Evolution}}.png{{else}}0.png{{end}}" data-tippy-content="Crown Level">
                                <p class="mcc-actualcrownlevel">{{.CrownLevel}}</p>
                                <!-- Progress Bar -->
                                <progress class="mcc-crownbar mcc-crown{{.Evolution}}" value="{{.CrownObtained}}" max="{{.CrownObtainable}}"></progress>
                                <p class="mcc-futurcrownlevel">{{.CrownLevelplus1}}</p>
                            </div>
                            <div class="mcc-pourcentprogress">
                                <p class="mcc-crownprogress">Progress: </p><p class="mcc-crownprogresspourcent">{{.CrownPourcentage}}%</p><p class="mcc-crownprogress"> ({{.CrownObtained}}/{{.CrownObtainable}})</p>
                            </div>
                            <div class="mcc-image mcc-crown">
                                <img class="mcc-actualcrown no-select" src="../img/mcc/crowns/fishing{{if .FishingEvolution}}{{.FishingEvolution}}.png{{else}}0.png{{end}}" data-tippy-content="Fishing Level">
                                <p class="mcc-actualcrownlevel">{{.FishingLevel}}</p>
                                <!-- Progress Bar -->
                                <progress class="mcc-crownbar mcc-crown{{.FishingEvolution}}" value="{{.FishingObtained}}" max="{{.FishingObtainable}}"></progress>
                                <p class="mcc-futurcrownlevel">{{.FishingLevelplus1}}</p>
                            </div>
                            <div class="mcc-pourcentprogress">
                                <p class="mcc-crownprogress">Progress: </p><p class="mcc-crownprogresspourcent">{{.FishingPourcentage}}%</p><p class="mcc-crownprogress"> ({{.FishingObtained}}/{{.FishingObtainable}})</p>
                            </div>
                        </div> 
                        <div class="mcc-bigcase">
                            <div class="mcc-case mcc-case2">
                                <h3>Wallet</h3>
                                <div class="mcc-list-item">
                                    <img class="no-select" src="../img/mcc/wallet/coins.png" data-tippy-content="Coins">
                                    <p class="text">{{.CurrencyCoins}}</p>
                                </div>
                                <div class="mcc-list-item">
                                    <img class="no-select" src="../img/mcc/wallet/silver.png " data-tippy-content="Silver">
                                    <p class="text">{{.CurrencySilver}}</p>
                                </div>
                                <div class="mcc-list-item">
                                    <img class="no-select" src="../img/mcc/wallet/material_dust.png" data-tippy-content="Dust">
                                    <p class="text">{{.CurrencyMaterialDust}}</p>
                                </div>
                                <div class="mcc-list-item">
                                    <img class="no-select" src="../img/mcc/wallet/royal_reputation.png" data-tippy-content="Royal Reputation">
                                    <p class="text">{{.CurrencyRoyalRep}}</p>
                                </div>
                                <div class="mcc-list-item">
                                    <img class="no-select" src="../img/mcc/wallet/anglr_token.png" data-tippy-content="Angler Token">
                                    <p class="text">{{.CurrencyAnglrTokens}}</p>
                                </div>
                            </div>
                            <div class="mcc-case mcc-case3">
                                <h3>Trophies</h3>
                                <div class="mcc-list-item">
                                    <img class="no-select" src="../img/mcc/trophies/total_trophies.png" data-tippy-content="Total Trophies">
                                    <p class="text">{{.TotalTrophies}}</p>
                                    <p class="text-gray"> /{{.MaxTotalTrophies}}</p>
                                </div>
                                <div class="mcc-list-item">
                                    <img class="no-select" src="../img/mcc/trophies/skill_trophies.png" data-tippy-content="Skill Trophies">
                                    <p class="text">{{.SKILLTrophies}}</p>
                                    <p class="text-gray"> /{{.MaxSKILLTrophies}}</p>
                                </div>
                                <div class="mcc-list-item">
                                    <img class="no-select" src="../img/mcc/trophies/style_trophies.png" data-tippy-content="Style Trophies">
                                    <p class="text">{{.STYLETrophies}}</p>
                                    <p class="text-gray"> /{{.MaxSTYLETrophies}}</p>
                                </div>
                                <div class="mcc-list-item">
                                    <img class="no-select" src="../img/mcc/trophies/angler_trophies.png" data-tippy-content="Angler Trophies">
                                    <p class="text">{{.ANGLERTrophies}}</p>
                                    <p class="text-gray"> /{{.MaxANGLERTrophies}}</p>
                                </div>
                                <div class="mcc-list-item">
                                    <img class="no-select" src="../img/mcc/trophies/bonus_trophies.png" data-tippy-content="Bonus Trophies">
                                    <p class="text">{{.BonusTrophies}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- ICI FRIENDS -->
                        <div class="friends-card" id="friendsCard">
                            <div class="friends-header cursor" onclick="toggleFriends()">
                                <img src="../img/mcc/utilities/friends.png" alt="Friends Icon" class="friends-icon no-select">
                                <h2>Friends</h2>
                                <img id="arrow" src="../img/mcc/utilities/arrow-left.png" alt="Arrow" class="arrow no-select">
                            </div>
                            <div class="friends-body" id="friendsBody">
                                <div class="interfriends-body">
                                    {{if .Friends}}
                                        {{range .Friends}}
                                            <div class="friend-card cursor" data-playername="{{.Username}}" onclick="searchPlayer(this)">
                                                <div class="friend-info">
                                                    <img src="https://mc-heads.net/head/{{.Username}}" class="friends-icon no-select">
                                                    <img src="../img/mcc/crowns/{{if .CrownLevel.Evolution}}{{.CrownLevel.Evolution}}.png{{else}}0.png{{end}}" class="friends-icon no-select" data-tippy-content="{{.CrownLevel.Level}}">
                                                    <img src="../img/mcc/ranks/{{if .Ranks}}{{.Ranks}}.png{{else}}PLAYER.png{{end}}" class="friends-icon no-select" data-tippy-content="{{if .Ranks}}{{.Ranks}}{{else}}PLAYER{{end}}">
                                                    <p>{{.Username}}</p>
                                                </div>
                                            </div>
                                        {{end}}
                                    {{else}}
                                        <p>Le Joueur ne possède aucun amis, ou n'a pas les API d'ouverts.</p>
                                    {{end}}
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
                <!-- Hypixel Stats Card -->
                <div class="hypixelstats-card" id="hypixelStatsCard">
                    <div class="stats-header">
                        <img src="../img/utilities/hypixelicon.png" alt="Hypixel Icon" class="hypixel-icon">
                        <h2>Hypixel Stats</h2>
                    </div>
                    <div class="stats-body">
                        <p id="hypixelStats">Les statistiques du joueur seront affichées ici.</p>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <img src="../img/capes/default-placeholder.png" alt="Image" class="modal-image no-select">
                    </div>
                    <div class="modal-body">
                        <p class="modal-name">Name PlaceHolder</p>
                        <p class="modal-date">Date PlaceHolder</p>
                        <p class="modal-desc">Description PlaceHolder</p>
                        <div class="modal-images no-select" style="display: block;">
                            <img src="../img/capes/default-placeholder.png" title="Default Title" alt="Default Alt" class="modal-image-item no-select" id="modalImage1">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="../js/scroll.js"></script>
        <script src="../js/modal.js"></script>
        <script src="../js/friends.js"></script>
        <script src ="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
        <script src ="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
        <script>
            function redirectToRankPage(rankPage) {
                window.location.href = "/classement/" + rankPage;
            }
            function refreshSearch() {
                window.location.href = "/menu"
            }
            tippy("[data-tippy-content]", {
                duration: 500,
            });
        </script>
    </body>
</html>
