<div class="modal-images" style="display: block;">
    <img src="../img/capes/dummy/mcc-cape.png" alt="MCC 15th Year Cape" title="MCC 15th Year Cape" class="modal-image-item" />
    <img src="../img/capes/dummy/mojangoffice-cape.png" alt="Mojang Office Cape" title="Mojang Office Cape" class="modal-image-item" />
    <img src="../img/capes/dummy/tiktok-cape.png" alt="Follower's Cape" title="Follower's Cape" class="modal-image-item" />
    <img src="../img/capes/dummy/twitch-cape.png" alt="Purple Heart Cape" title="Purple Heart Cape" class="modal-image-item" />
    <img src="../img/capes/dummy/cherry-cape.png" alt="Cherry Blossom Cape" title="Cherry Blossom Cape" class="modal-image-item" />
    <img src="../img/capes/dummy/vanilla_cape-cape.png" alt="Vanilla Cape" title="Vanilla Cape" class="modal-image-item" />
    <img src="../img/capes/dummy/15A-cape.png" alt="15th Anniversary Cape" title="15th Anniversary Cape" class="modal-image-item" />
    <img src="../img/capes/dummy/migrator_cape-cape.png" alt="Migrator Cape" title="Migrator Cape" class="modal-image-item" />
</div>

<div class="modal-images">
    <img src="../img/capes/dummy/mcc-cape.png" alt="MCC 15th Year Cape" title="MCC 15th Year Cape" class="modal-image-item" />
    <img src="../img/capes/dummy/mojangoffice-cape.png" alt="Mojang Office Cape" title="Mojang Office Cape" class="modal-image-item" />
    <img src="../img/capes/dummy/tiktok-cape.png" alt="Follower's Cape" title="Follower's Cape" class="modal-image-item" />
    <img src="../img/capes/dummy/twitch-cape.png" alt="Purple Heart Cape" title="Purple Heart Cape" class="modal-image-item" />
    <img src="../img/capes/dummy/cherry-cape.png" alt="Cherry Blossom Cape" title="Cherry Blossom Cape" class="modal-image-item" />
    <img src="../img/capes/dummy/vanilla_cape-cape.png" alt="Vanilla Cape" title="Vanilla Cape" class="modal-image-item" />
    <img src="../img/capes/dummy/15A-cape.png" alt="15th Anniversary Cape" title="15th Anniversary Cape" class="modal-image-item" />
    <img src="../img/capes/dummy/migrator_cape-cape.png" alt="Migrator Cape" title="Migrator Cape" class="modal-image-item" />
</div>