{{if .}}    
    <div class="cape-hole">
        {{range .}}
            <div class="cape-container">
                <img src="{{.URL}}" onerror="this.onerror=null; this.src='../img/capes/NoTexture.png';" alt="Cape Image" class="cape-image no-select cursor {{.Class}}" data-id="using-modal" data-name="{{.CapeName}}" draggable="false">
                <p class="cape-title mc-font">{{.Title}}</p>
            </div>
        {{end}}
    </div>
{{else}}
    <p class="no-cape">Aucune cape trouvée</p>
{{end}}
