{{define "albums"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des albums</title>
</head>
<body>
    <nav>
        <a href="/tracks">Détails "CARTIER SANTOS"</a>
        <a href="/albums">Liste des albums de SCH</a>
    </nav>
    <h1>Albums : SCH</h1>
    {{range .Items}}
    <div>
        <h3>{{.Name}} || {{.ReleasDate}}</h3>
        <p>Nombre de musiques : {{.TotalTracks}}</p>
        <img src="{{(index .Images 0).Url}}" alt="Couverture de l'album {{.Name}} de l'artiste SCH">
    </div>
    {{end}}
</body>
</html>
{{end}}