{{define "tracks"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARTIER SANTOS</title>
</head>
<body>
    <nav>
        <a href="/tracks">Détails "CARTIER SANTOS"</a>
        <a href="/albums">Liste des albums de SCH</a>
    </nav>
    <div>
    <img src="{{ (index .AlbumData.Images 0).Url}}" alt="Couverture de l'album {{.AlbumData.Name}}">
    <h1>{{.NameTack}} || {{.AlbumData.Name}}</h1>
    <p>{{(index .AlbumData.ArtistsData 0).Name}} || {{.AlbumData.ReleasDate}}</p>
    <a href="{{.Url.Spotify}}" target="_blank">Ecouter sur Spotify</a>

</div>
</body>
</html>
{{end}}