headerbody, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    height: auto;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
}

/* Pseudo-élément pour le fond */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/utilities/bg.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -3;
    transition: filter 0.3s ease;
    will-change: filter;
    filter: blur(var(--blur-value, 0px)); /* Variable CSS qui sera modifiée */
}

/* Voile gris foncé */
#bgdark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 30, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: -2;
}

.players-container .players-card {
    position: relative; /* Assurez un contexte de pile pour le z-index */
    z-index: 2; /* Priorité sur #bgdark */
    border: 0.125rem solid var(--main-black);
}

@font-face {
    font-family: 'Minecraftia';
    src: url('fonts/Minecraftia.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 767px) {
    .players-container {
        width: 100% !important;
    }
    .page-cath {
        display: none !important;
    }
}

/* Page Cathegorie */
.page-cath {
    font-family: 'Minecraftia', 'Roboto', sans-serif;
    position: absolute;
    background-color: #491F1F;
    padding: 5px;
    border: 2px solid #491F1F;
    border-radius: 10px;
    right: 20px;  /* Aligne le texte à droite */
    top: 50%;     /* Centre verticalement */
    transform: translateY(-50%); /* Ajuste pour un centrage parfait */
    font-size: 18px;
    color: #fff;
}

/* bar de Navigation */
.navbar {
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
    background-color: #6E2F2F;
    padding: 15px 0;
    width: 100%;
    position: fixed;
    margin-left: -8px;
    top: 0;
    z-index: 1000;
    text-align: center;
    height: 75px;
    box-sizing: border-box;
    border-bottom: 2px solid #B7573A;
}

.navbar-actioners {
    max-width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Modal */
@keyframes slide {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.filter {
    display: flex; /* Utilisation de flexbox */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.filter-content {
    overflow-y: auto;
    background-color: var(--main-gray);
    width: 80%;
    max-width: 600px;
    color: #fff;
    animation: slide 0.5s ease-out;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    margin: 0 auto; /* Centrer horizontalement */
}

.filter-body {
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    background-color: var(--main-gray);
    box-shadow: 0 0.125rem 0 0 rgba(0, 0, 0, 0.25), 0.125rem -0.125rem 0 0 rgba(0, 0, 0, 0.3) inset, -0.125rem 0.125rem 0 0 rgba(255, 255, 255, 0.2) inset;
}

.filter-button {
    width: 32px; /* Ajuster selon l'image */
    height: auto;
    position: absolute;
    right: 10px;
    top: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    image-rendering: pixelated;
}

.filter-button:hover {
    transform: scale(1.1);
}

.filter-content .stats-header {
    background-color: var(--main-dark-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.125rem 0 0 rgba(0, 0, 0, 0.25), 0.125rem -0.125rem 0 0 rgba(0, 0, 0, 0.3) inset, -0.125rem 0.125rem 0 0 rgba(255, 255, 255, 0.2) inset;
}

.cape-hole {
    border: .125rem solid var(--main-black);
    background: var(--hole-gray);
    box-shadow: inset 0 .375rem 0 0 rgba(0, 0, 0, .5);
    margin: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 15px
}

.cape-container {
    position: relative;
    width: calc(90% / 5 - 30px);
    min-width: 40px;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    image-rendering: pixelated;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cape-container:hover {
    transform: scale(1.05); /* Appliquer le scale lors du survol */
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
}


.cape-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;
    height: 100%; /* Assurez-vous que l'overlay occupe également toute la hauteur de son conteneur */
    background-color: rgba(0, 255, 0, 0); /* Transparent par défaut */
    transition: background-color 0.3s ease;
    z-index: 1;
    pointer-events: none; /* Empêche l'interaction avec l'overlay */
}

.cape-container:hover .cape-overlay {
    transform: scale(1.05); /* Agrandit l'overlay en même temps que la cape */
    transition: transform 0.3s ease; /* Ajoute une transition pour que l'effet soit fluide */
}

.cape-container.selected .cape-overlay {
    background-color: rgba(0, 255, 0, 0.2); /* Vert semi-transparent */
    outline: 1px solid rgba(0, 255, 0, 1);
}

.cape-container.noowned .cape-overlay {
    background-color: rgba(255, 0, 0, 0.2); /* Vert semi-transparent */
    outline: 1px solid rgba(255, 0, 0, 1);
}

.cape-image {
    width: 100%;
    height: 100%; /* Assurez-vous que l'image occupe toute la hauteur de son conteneur */
    object-fit: cover;
    border-radius: 5px;
    image-rendering: pixelated;
    position: relative;
    z-index: 0;
}


.cape-title {
    opacity: 0;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: var(--abs-white);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 5px;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.cape-container:hover .cape-title {
    opacity: 1;
}

.removed-cape {
    filter: grayscale(100%) brightness(1.1);
}

.legendary-cape:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 2px #ffbf00;
}

.special-cape:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 2px #9f00e9;
}

.rare-cape:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 2px #007ed2;
}

.common-cape:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 2px gray;
}

.optifine-cape:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 2px #ff0000;
}

.apply-filter-image {
    width: 48px; /* Ajuste la taille de l'image */
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
    image-rendering: pixelated;
    position: absolute;
    right: 20px; /* Colle l'image à droite */
    top: .7rem;
}

.apply-filter-image:hover {
    transform: scale(1.1); /* Agrandissement au survol */
}

.find-player {
    background-color: #491F1F;
    padding: 10px;
    border: 0px solid;
    border-radius: 5px;
    font-size: 20px;
    color: var(--abs-white);
    width: 300px;
    text-align: center;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.find-player::placeholder {
    color: #aaa;
}

.find-player:focus {
    outline: none;
    border-color: #555;
}

.show-button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: var(--abs-white);
    border: none;
    border-radius: 20px;
    transition: filter 0.2s;
    background-color: #491F1F;
}

.show-button:hover {
    filter: brightness(1.3);
}

.refresh {
    width: 48px;
    height: auto;
    image-rendering: pixelated;
    margin-right: 2vh;
}

main {
    padding-top: 100px;
}

/* Stats-Container */
.players-container {
    width: 60%; /* 1/3 de la largeur de l'écran */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
    gap: 20px;
    z-index: 2
}

/* Cards */
.players-card {
    width: 100%;
    max-width: 700px;
    flex-shrink: 0;
    background-color: var(--main-gray);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    color: #fff;
}

/* MinecraftCapes-Card */
.players-card {
    top: 50%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.players-card .stats-header {
    background-color: var(--main-dark-gray);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.125rem 0 0 rgba(0, 0, 0, 0.25), 0.125rem -0.125rem 0 0 rgba(0, 0, 0, 0.3) inset, -0.125rem 0.125rem 0 0 rgba(255, 255, 255, 0.2) inset;
}

.players-card .stats-header .minecraft-icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.players-card .stats-header h2 {
    font-size: 24px;
    margin: 0;
    color: #fff;
    text-align: center;
}

.players-card .stats-body {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

/* Capes et leurs affichage*/
.player-container {
    width: calc(60% / 5 - 10px);
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    image-rendering: pixelated;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* Nécessaire pour que le titre soit centré à l'intérieur */
}

.classement-icon {
    width: 30px;
    padding-right: 5px;
    height: auto;
    image-rendering: pixelated;
}

.player-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    image-rendering: pixelated;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.player-title {
    font-family: 'Minecraftia', 'Roboto', sans-serif;
    opacity: 0; /* Initialement invisible */
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrage par rapport à l'image */
    font-size: 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 5px;
    transition: opacity 0.5s ease; /* Transition d'opacité */
    pointer-events: none;

    /* Centrage du texte */
    text-align: center;    /* Centre le texte horizontalement */
    display: flex;         /* Utilise flexbox */
    flex-direction: column; /* Empile le texte en colonne */
    justify-content: center; /* Centre verticalement dans la boîte */
    align-items: center;   /* Centre les éléments sur l'axe horizontal */
    z-index: 3
}

/* classement */
.classement-card {
    width: 99%;
    background-color: #292929;
    border: 2px solid #292929; /* Ajout de la bordure */
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 0px; /* Espacement entre les cartes */
}

.classement-body {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--main-gray) !important;
    padding: 10px 15px;
    box-shadow: 0 0.125rem 0 0 rgba(0, 0, 0, 0.25), 0.125rem -0.125rem 0 0 rgba(0, 0, 0, 0.3) inset, -0.125rem 0.125rem 0 0 rgba(255, 255, 255, 0.2) inset;
}

.player-card {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--main-dark-gray);
    border: 2px solid var(--main-black);
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 8px;
    flex: 1 1 calc(50% - 10px); /* Chaque carte prendra un tiers de la largeur disponible, avec une petite marge */
    box-sizing: border-box; /* Inclut les paddings et les bordures dans la taille */
    transition: background-color 0.3s, filter 0.3s; /* Transition pour les changements de couleur et d'effet */
    cursor: pointer; /* Curseur en forme de souris */
    box-shadow: inset 0 -0.3rem 0 0 rgba(0, 0, 0, 0.25);
    justify-content: space-between;
}

.player-info {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px;
    max-width: fit-content;
}

.badge {
    image-rendering: pixelated;
    width: 40px;
    height: 40px;
    right: 1vh;
}   

.player-card:hover {
    background-color: #324747; /* Change la couleur de fond pour la rendre plus claire */
    filter: brightness(1.2); /* Augmente la luminosité de la carte */
}

.player-info p {
    color: white;
    font-size: 16px;
    margin: 0; /* Retirer les marges par défaut */
    white-space: nowrap; /* Empêche le texte de s'étirer sur plusieurs lignes */
}

.classement-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    background-color: var(--main-dark-gray);
}

.classement-header h2 {
    margin-left: 10px;
    color: white;
    font-size: 18px;
}

.player-icon {
    image-rendering: pixelated;
    width: 40px;
    height: 40px;
}

.interclassement-body {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de se déplacer sur plusieurs lignes si nécessaire */
    gap: 5px;
    width: 100%;
    margin: 5px 5px;
}

.rank {
    font-family: 'Minecraftia', 'Roboto', sans-serif;
    color:yellow !important;
}

.cursor {
    cursor: pointer;
}

.no-select {
    -webkit-user-select: none; /* Pour Safari */
    -moz-user-select: none;    /* Pour Firefox */
    -ms-user-select: none;     /* Pour Internet Explorer/Edge */
    user-select: none;         /* Pour les navigateurs modernes */
}

.go-left {
    position: absolute;
    left: 5vh;
}

.go-right {
    position: absolute;
    right: 5vh;
}

.go-arrow {
    transition: scale 0.1s;
}
.go-arrow:hover {
    scale: 1.1;
}

.mc-font {
    font-family: 'Minecraftia', 'Roboto', sans-serif;
}

:root {
    --main-dark-gray: #292929;
    --main-gray: #3D3938;
    --main-mid-gray: #333131;
    --main-black: #171615;
    --hole-gray: #262423;
    --abs-white: #fff;
    --text-grey-1: #D0C5C0;
    --text-grey-2: #C1B8B4;
}