body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    height: auto;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
}

/* Pseudo-élément pour le fond */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-image-url) no-repeat center center fixed;
    background-size: cover;
    z-index: -3;
    transition: filter 0.3s ease;
    will-change: filter;
    filter: blur(var(--blur-value, 0px)); /* Variable CSS qui sera modifiée */
}

/* Style de la boîte du tooltip */
.tippy-box {
    border: 1px solid #222; /* Couleur de fond (bleu) */
    color: #fff; /* Couleur du texte */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }

/* Voile gris foncé */
#bgdark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, 0.9);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: -2;
}

.stats-container .player-card,
.stats-container .minecraftstats-card,
.stats-container .hypixelstats-card,
.stats-container .mccstats-card,
.badge-card .skin-3d {
    position: relative; /* Assurez un contexte de pile pour le z-index */
    z-index: 2; /* Priorité sur #bgdark */
}

@font-face {
    font-family: 'Minecraftia';
    src: url('fonts/Minecraftia.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Page Cathegorie */
.page-cath {
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    right: 20px;  /* Aligne le texte à droite */
    top: 50%;     /* Centre verticalement */
    transform: translateY(-50%); /* Ajuste pour un centrage parfait */
    font-size: 18px;
    color: #fff;
}

/* bar de Navigation */
.navbar {
    padding: 15px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    text-align: center;
    height: 75px;
    box-sizing: border-box;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    display: inline-block;
    margin: 0 20px;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.find-player {
    padding: 10px;
    border: 0px solid;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.find-player::placeholder {
    color: #aaa;
}

.find-player:focus {
    outline: none;
    border-color: #555;
}

.show-button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: filter 0.2s;
}

.show-button:hover {
    filter: brightness(1.3);
}

main {
    padding-top: 100px;
}

/* Stats-Container */
.stats-container {
    width: 60%; /* 1/3 de la largeur de l'écran */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
    gap: 20px;
    z-index: 2
}

/* Cards */
.player-card, .minecraftstats-card, .hypixelstats-card, .mccstats-card, .badge-card {
    width: 100%;
    max-width: 600px;
    flex-shrink: 0;
    background-color: #323232;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    color: #fff;
}

/* Player-Card */
.player-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    padding: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    z-index: 2
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.profile-image {
    width: 55px;
    height: 55px;
    object-fit: cover;
    margin-right: 10px;
}

.theme-image {
    position: absolute;
    width: 55px;
    height: 55px;
    object-fit: cover;
    right: 3vh;
    image-rendering: pixelated;
    scale: 1;
    transition: transform 0.3s ease;
}

.theme-image:hover {
    transform: scale(1.15);
}

.playerName {
    font-size: 35px;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.badName {
    font-size: 35px;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: red;
}

.playerRank {
    position: absolute;
    font-size: 25px;
    left: 5vh;
    color: yellow;
}

/* Minecraft-Card */
.minecraftstats-card {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.minecraftstats-card .stats-header {
    background-color: #292929;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minecraftstats-card .stats-header .minecraft-icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.minecraftstats-card .stats-header h2 {
    font-size: 24px;
    margin: 0;
    color: #fff;
    text-align: center;
}

.minecraftstats-card .stats-body {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}
/* Badge Card */
.badge-card {
    position: absolute;
    top: calc(285px);
    left: calc(50% + 320px);
    background-color: #323232;
    border-radius: 15px;
    width: 300px;
    color: #fff;
}

.badge-card .stats-header {
    background-color: #292929;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge-card .stats-header .badge-icon {
    width: 30px;
    height: auto;
    image-rendering: pixelated;
    margin-right: 10px;
}

.badge-card .stats-header h2 {
    font-size: 24px;
    margin: 0;
    color: #fff;
    text-align: center;
}

.badge-card .stats-body {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.badge-card .stats-body p {
    font-size: 18px;
    color: #aaa;
}
/* Badges et leurs affichage */
.badge-image {
    width: calc(140% / 6 - 10px);
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    image-rendering: pixelated;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.badge-image:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 2px gold;
}

.no-badge {
    font-size: 18px;
    color: #aaa;
    text-align: center;
    padding: 10px;
}
/* Capes et leurs affichage*/
.cape-container {
    width: calc(70% / 6 - 10px);
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    image-rendering: pixelated;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* Nécessaire pour que le titre soit centré à l'intérieur */
}

.cape-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    image-rendering: pixelated;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.cape-title {
    opacity: 0; /* Initialement invisible */
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrage par rapport à l'image */
    font-size: 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 5px;
    transition: opacity 0.5s ease; /* Transition d'opacité */
    pointer-events: none;

    /* Centrage du texte */
    text-align: center;    /* Centre le texte horizontalement */
    display: flex;         /* Utilise flexbox */
    flex-direction: column; /* Empile le texte en colonne */
    justify-content: center; /* Centre verticalement dans la boîte */
    align-items: center;   /* Centre les éléments sur l'axe horizontal */
    z-index: 3
}


.cape-container:hover .cape-title {
    opacity: 1; /* Visible au survol */
}

.removed-cape {
    filter: grayscale(100%) brightness(1.1);
}

.legendary-cape:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 2px #ffbf00;
}

.special-cape:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 2px #9f00e9;
}

.rare-cape:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 2px #007ed2;
}

.common-cape:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 2px gray;
}

.optifine-cape:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 2px #ff0000;
}

.no-cape {
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    background-color: #292929;
    border-radius: 15px;
    margin-top: 20px;
}

.no-select {
    -webkit-user-select: none; /* Pour Safari */
    -moz-user-select: none;    /* Pour Firefox */
    -ms-user-select: none;     /* Pour Internet Explorer/Edge */
    user-select: none;         /* Pour les navigateurs modernes */
}

/* HypixelCard */
.no-background-header {
    background-color: transparent !important; /* Enlève le fond */
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hypixelstats-card {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.hypixelstats-card .stats-header {
    background-color: #292929;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hypixelstats-card .stats-header .hypixel-icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.hypixelstats-card .stats-header h2 {
    font-size: 24px;
    margin: 0;
    color: #fff;
    text-align: center;
}

.hypixelstats-card .stats-body {
    text-align: center;
    padding: 10px;
    flex-grow: 1;
}

.hypixelstats-card .stats-body p {
    font-size: 18px;
    color: #aaa;
}

/* MCC Card */
.mccstats-card {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.mccstats-card .stats-header {
    background-color: #292929;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mccstats-card .stats-header .mcc-icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.infos {
    width: 32px;
    height: auto;
    image-rendering: pixelated;
    position: absolute;
    right: 3vh;
}

.mccstats-card .stats-header h2 {
    font-size: 24px;
    margin: 0;
    color: #fff;
    text-align: center;
}

.mccstats-card .stats-body {
    text-align: center;
    padding: 10px;
}

.mccstats-card .stats-body p {
    font-size: 18px;
    color: #aaa;
}

body.modal-open {
    overflow: hidden; /* Désactive le défilement */
    height: 100%; /* Assure que le contenu ne dépasse pas */
}

/* Modal */
.modal {
    display: none; /* Initialement masqué */
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden; /* Permettre le scroll si nécessaire */
}

/* Contenu du modal */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Modal affiché avec animation */
.modal.show {
    display: flex; /* Affiche le modal */
    align-items: center;
    justify-content: center;
    animation: slideInFromLeft 0.5s ease-out;
}

/* Contenu du modal */
.modal-content {
    overflow-y: auto;
    background-color: #323232;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    color: #fff;
    animation: slideInFromLeft 0.5s ease-out; /* Animation d'entrée */
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

/* En-tête du modal */
.modal-header {
    background-color: #292929;
    text-align: center;
    padding: 10px;
}

/* Image du modal */
.modal-image {
    width: 100px;
    height: auto;
    border-radius: 5px;
    image-rendering: pixelated;
    object-fit: cover;
    background-color: #222;
    padding: 10px;
}

/* Corps du modal */
.modal-body {
    margin-top: 20px;
    text-align: center;
}

.modal-name{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #fff ;
    margin-top: 20px;
}

.modal-date {
    font-size: 18px;
    color: #ddd;
}

.modal-desc {
    font-size: 18px;
    color: #aaa;
}

/* Pour un défilement fluide dans le modal */
.modal-content {
    transition: max-height 0.3s ease-in-out;
}

.modal-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.modal-images:empty {
    display: none !important;
}

.modal-image-item {
    max-width: 100px;
    width: auto;
    height: auto;
    image-rendering: pixelated;
    border-radius: 5px;
    object-fit: cover;
    background-color: #222;
    padding: 5px !important;
}

/* SkinRender */
.skin-3d {
    position: absolute;
    top: 100px;
    right: calc(50% + 320px);
    width: 100;
    height: auto;
    padding: 20px;
}

/* MCCTHINGS */

.mcc-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacement entre les éléments */
    text-align: center;
}

.mcc-case1 {
    border: 2px solid #00000000 !important; /* Couleur de la bordure */
    border-radius: 10px; /* Bordure arrondie */
    padding: 10px; /* Ajoute un peu de marge interne */
    margin: 5px; /* Augmente l'espacement autour de chaque case */
}

.mcc-case1 {
    top: -10px;
}

.mcc-case {
    position: relative; /* Assure que l'en-tête est positionné par rapport à la case */
    padding-top: 40px; /* Ajoute un padding en haut pour éviter que le contenu ne recouvre le header */
    border: 2px solid #282828; /* Couleur de la bordure */
    border-radius: 10px; /* Bordure arrondie */
    padding: 10px; /* Ajoute un peu de marge interne */
    margin: 5px; /* Augmente l'espacement autour de chaque case */
}

.mcc-bigcase {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.mcc-case2, .mcc-case3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 15px;
}

.mcc-list-item {
    display: flex;
    align-items: center;
    color: #fff !important;
    gap: 5px; /* Réduit l'espacement entre l'image et le texte */
    margin: -16px; /* Réduit l'espacement vertical entre les lignes */
    width: 100%; /* Assure que l'élément prend toute la largeur */
}

.mcc-list-item .text {
    color: #fff !important;
}

.mcc-list-item .text-gray {
    color: #999 !important;
}

.mcc-list-item img {
    width: 32px; /* Réduit légèrement la taille des icônes */
    height: 32px;
    image-rendering: pixelated;
    z-index: 4 !important;
}

.mcc-case h3 {
    text-align: center;
    margin: 5px 15px;
}

.mcc-rank {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border: 0px;
    image-rendering: pixelated;
}

.mcc-playername {
    font-size: 12px;
    color: #fff !important;
}

.mcc-crown {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacement entre les éléments */
    text-align: center;
}

.mcc-actualcrown{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 0px;
    image-rendering: pixelated;
}

.mcc-actualcrownlevel{
    font-size: 15px;
    color: #fff !important;
}

.mcc-futurcrownlevel {
    font-size: 15px;
    color: #777 !important;
}

.mcc-crownbar {
    width: 50%;
    height: 20px;
    appearance: none;
    border-radius: 10px;
    background-color: #444;
    margin-bottom: -5px;
}

.mcc-crown {
    margin-top: -20px;
}

.mcc-crownbar::-webkit-progress-bar {
    background-color: #444;
    border-radius: 10px;
}

.mcc-crownbar::-webkit-progress-value{
    background-color: #525252;
    border-radius: 10px;
}

.mcc-crownbar::-moz-progress-bar{
    background-color: #525252;
    border-radius: 10px;
}

.mcc-crownbar.mcc-crown1::-webkit-progress-value {
    background-color: #adadad;
    border-radius: 10px;
}

.mcc-crownbar.mcc-crown1::-moz-progress-bar {
    background-color: #adadad;
    border-radius: 10px;
}

.mcc-crownbar.mcc-crown2::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 10px;
}

.mcc-crownbar.mcc-crown2::-moz-progress-bar {
    background-color: #4caf50;
    border-radius: 10px;
}

.mcc-crownbar.mcc-crown3::-webkit-progress-value {
    background-color: #3b60c7;
    border-radius: 10px;
}

.mcc-crownbar.mcc-crown3::-moz-progress-bar {
    background-color: #3b60c7;
    border-radius: 10px;
}

.mcc-crownbar.mcc-crown4::-webkit-progress-value {
    background-color: #833bc7;
    border-radius: 10px;
}

.mcc-crownbar.mcc-crown4::-moz-progress-bar {
    background-color: #833bc7;
    border-radius: 10px;
}

.mcc-crownbar.mcc-crown5::-webkit-progress-value {
    background-color: #d18410;
    border-radius: 10px;
}

.mcc-crownbar.mcc-crown5::-moz-progress-bar {
    background-color: #d18410;
    border-radius: 10px;
}

.mcc-crownbar.mcc-crown6::-webkit-progress-value {
    background-color: #9b1b1b;
    border-radius: 10px;
}

.mcc-crownbar.mcc-crown6::-moz-progress-bar {
    background-color: #9b1b1b;
    border-radius: 10px;
}

.mcc-crownbar.mcc-crown7::-webkit-progress-value {
    background-color: #1ab4cf;
    border-radius: 10px;
}

.mcc-crownbar.mcc-crown7::-moz-progress-bar {
    background-color: #1ab4cf;
    border-radius: 10px;
}

.mcc-pourcentprogress {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacement entre les éléments */
    text-align: center;
}

.mcc-crownprogress {
    font-size: 12px;
    color: #999 !important;
    margin-top: 10px; /* Espace au-dessus du texte */
    text-align: center;
    margin-top: -10px;
}
.mcc-crownprogresspourcent {
    font-size: 12px;
    color: #ddd !important;
    margin-top: 10px; /* Espace au-dessus du texte */
    text-align: center;
    margin-top: -10px;
}

/* FRIENDS */
.rolls-card {
    display: grid;
    gap: 8px;
}

.roll-card {
    width: 99%;
    background-color: #292929;
    border: 2px solid #292929; /* Ajout de la bordure */
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 0px; /* Espacement entre les cartes */
    transition: max-height 0.3s ease-in-out;
}

.roll-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    background-color: #292929;
}

.roll-header h2 {
    margin-left: 10px;
    color: white;
    font-size: 18px;
}

.roll-icon {
    image-rendering: pixelated;
    width: 40px;
    height: 40px;
}

.roll-body {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    border-radius: 0 0 10px 10px;
    max-height: 0px;
    overflow: hidden;
    background-color: #323232;
    padding: 0 15px;
    transition: max-height 0.3s ease-in-out;
}

.friend-card {
    display: flex;
    align-items: center;
    background-color: #292929;
    border-radius: 10px;
    padding: 7px;
    flex: 1 1 calc(33% - 10px); /* Chaque carte prendra un tiers de la largeur disponible, avec une petite marge */
    box-sizing: border-box; /* Inclut les paddings et les bordures dans la taille */
    transition: background-color 0.3s, filter 0.3s; /* Transition pour les changements de couleur et d'effet */
}

.friend-info {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0px;
    max-width: fit-content;
}

.friend-card:hover {
    background-color: #3c3c3c; /* Change la couleur de fond pour la rendre plus claire */
    filter: brightness(1.2); /* Augmente la luminosité de la carte */
}

.friend-info p {
    color: white;
    font-size: 16px;
    margin: 0; /* Retirer les marges par défaut */
    white-space: nowrap; /* Empêche le texte de s'étirer sur plusieurs lignes */
}

.friends-icon {
    image-rendering: pixelated;
    width: 40px;
    height: 40px;
}

.friends-body {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de se déplacer sur plusieurs lignes si nécessaire */
    gap: 10px; /* Espace entre les cartes de joueurs */
    border-radius: 0 0 10px 10px;
    background-color: #323232;
    padding: 0 15px;
    transition: max-height 0.3s ease-in-out;
}

.online-status {
    position: sticky;
    margin-top: -21px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #292929;
}

.online {
    background-color: #0E9F6E;
}

.offline {
    background-color: #F05252;
}

.interfriends-body {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de se déplacer sur plusieurs lignes si nécessaire */
    gap: 5px;
    margin: 5px 5px;
}

.arrow {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
    image-rendering: pixelated;
    margin-left: auto; /* Déplace la flèche vers la droite */

}

.friends-body.open {
    max-height: 1000px; /* Ajuste selon la hauteur réelle */
}

.friends-body.open + .friends-header #arrow {
    transform: rotate(-90deg); /* Tourne la flèche à -90° */
}

.cursor {
    cursor: pointer;
}

.refresh {
    width: 48px;
    height: auto;
    image-rendering: pixelated;
    margin-right: 2vh;
}

/* PIE */
.canvasjs-chart-credit {
    display: none !important;
}
.gamesgraph {
    height: 250px;
    width: 70%;
    left: 10px;
}

.upcath-body{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    gap: 10px;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.subcath-body {
    width: 100%;
    border: 2px solid #282828;
    border-radius: 10px;
}

.games-stats {
    display: flex;
    gap: 10px;
    width: 100%;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.subcath-body2 {
    width: calc(50% - 9px);
    border: 2px solid #282828;
    border-radius: 10px;
}

.subcath-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    margin-bottom: 30px;
    gap: 15px;
    height: 80px;
    width: 100%;
}

.subcath-header-content {
    display: flex;
    gap: 5px;
    margin: 14px;
    align-items: center
}

.general-stats {
    width: 100%;
    display: flex;
}
.graph-numbers {
    margin-top: -40px;
    width:30%;
}
.graph-numbers-content {
    height: 13%;
    margin: -10px;
}
.graph-games-played {
    display: grid;
    padding-left: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-items: left;
}
.line-content {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-items: left;
}

.line-content img{
    width: 32px;
    height: auto;
    image-rendering: pixelated;
}

.line-content2 {
    gap: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-items: left;
}

.line-content2 p {
    font-size: 12px !important;
}

.line-content2 img{
    width: 32px;
    height: auto;
    image-rendering: pixelated;
}

.subcath-case {
    flex: 1 1 calc(50% - 10px);
    display: grid;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 5px;
}

.mc-font {
    font-family: 'Minecraftia', 'Roboto', sans-serif;
}

.color-white {
    color: white !important;
}