body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../img/utilities/bg.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    height: 200%;
    position: relative;
    z-index: -2;
}

#bgdark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/utilities/bgdark.png') no-repeat center center fixed;
    background-size: cover;
    opacity: 0;  /* Initial opacity */
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: -1; /* Assurez qu'il reste derrière les autres éléments */
}

.stats-container .player-card,
.stats-container .minecraftstats-card,
.stats-container .hypixelstats-card,
.stats-container .mccstats-card,
.badge-card {
    position: relative; /* Assurez un contexte de pile pour le z-index */
    z-index: 1; /* Priorité sur #bgdark */
}

/* bar de Navigation */
.navbar {
    background-color: #6E2F2F;
    padding: 15px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    text-align: center;
    height: 75px;
    box-sizing: border-box;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin: 0;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.find-player {
    padding: 10px;
    border: 2px solid #491F1F;
    border-radius: 5px;
    font-size: 20px;
    background-color: #491F1F;
    color: #fff;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.find-player::placeholder {
    color: #aaa;
}

.find-player:focus {
    outline: none;
    border-color: #555;
}

.show-button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #491F1F;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.show-button:hover {
    background-color: #603030;
}

main {
    padding-top: 100px;
}

/* Stats-Container */
.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
    gap: 20px;
}

/* Cards */
.player-card, .minecraftstats-card, .hypixelstats-card, .mccstats-card {
    width: 80%;
    max-width: 600px;
    flex-shrink: 0;
    background-color: #323232;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    color: #fff;
}

/* Player-Card */
.player-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    padding: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.profile-image {
    width: 55px;
    height: 55px;
    object-fit: cover;
    margin-right: 10px;
}

.playerName {
    font-size: 35px;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.badName {
    font-size: 35px;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: red;
}

/* Minecraft-Card */
.minecraftstats-card {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
}

.minecraftstats-card .stats-header {
    background-color: #292929;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minecraftstats-card .stats-header .minecraft-icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.minecraftstats-card .stats-header h2 {
    font-size: 24px;
    margin: 0;
    color: #fff;
    text-align: center;
}

.minecraftstats-card .stats-body {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}
/* Badge Card */
.badge-card {
    position: absolute;
    top: calc(265px);
    left: calc(50% + 320px);
    background-color: #323232;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
    color: #fff;
    margin-top: 20px;
}

.badge-card .stats-header {
    background-color: #292929;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge-card .stats-header .badge-icon {
    width: 30px;
    height: auto;
    image-rendering: pixelated;
    margin-right: 10px;
}

.badge-card .stats-header h2 {
    font-size: 24px;
    margin: 0;
    color: #fff;
    text-align: center;
}

.badge-card .stats-body {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.badge-card .stats-body p {
    font-size: 18px;
    color: #aaa;
}
/* Badges et leurs affichage */
.badge-image {
    width: calc(140% / 6 - 10px);
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    image-rendering: pixelated;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.badge-image:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 2px gold;
}

.no-badge {
    font-size: 18px;
    color: #aaa;
    text-align: center;
    padding: 10px;
}
/* Capes et leurs affichage*/
.cape-image {
    width: calc(70% / 6 - 10px);
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    image-rendering: pixelated;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.removed-cape {
    filter: grayscale(100%) brightness(1.1);
}

.cape-image:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 2px cyan;
}

.common-cape:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 2px gray;
}

.special-cape:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 2px #ff00ff;
}
.no-cape {
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    background-color: #292929;
    border-radius: 15px;
    margin-top: 20px;
}

.cape-image, .badge-image, .modal-header {
    -webkit-user-select: none; /* Pour Safari */
    -moz-user-select: none;    /* Pour Firefox */
    -ms-user-select: none;     /* Pour Internet Explorer/Edge */
    user-select: none;         /* Pour les navigateurs modernes */
}

/* HypixelCard */
.hypixelstats-card {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
}

.hypixelstats-card .stats-header {
    background-color: #292929;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hypixelstats-card .stats-header .hypixel-icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.hypixelstats-card .stats-header h2 {
    font-size: 24px;
    margin: 0;
    color: #fff;
    text-align: center;
}

.hypixelstats-card .stats-body {
    text-align: center;
    padding: 10px;
    flex-grow: 1;
}

.hypixelstats-card .stats-body p {
    font-size: 18px;
    color: #aaa;
}

/* MCC Card */
.mccstats-card {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
}

.mccstats-card .stats-header {
    background-color: #292929;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mccstats-card .stats-header .mcc-icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.mccstats-card .stats-header h2 {
    font-size: 24px;
    margin: 0;
    color: #fff;
    text-align: center;
}

.mccstats-card .stats-body {
    text-align: center;
    padding: 10px;
}

.mccstats-card .stats-body p {
    font-size: 18px;
    color: #aaa;
}

body.modal-open {
    overflow: hidden; /* Désactive le défilement */
    height: 100%; /* Assure que le contenu ne dépasse pas */
}

/* Modal */
.modal {
    display: none; /* Initialement masqué */
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden; /* Permettre le scroll si nécessaire */
}

/* Contenu du modal */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Modal affiché avec animation */
.modal.show {
    display: flex; /* Affiche le modal */
    align-items: center;
    justify-content: center;
    animation: slideInFromLeft 0.5s ease-out;
}

/* Contenu du modal */
.modal-content {
    overflow-y: auto;
    background-color: #323232;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    color: #fff;
    animation: slideInFromLeft 0.5s ease-out; /* Animation d'entrée */
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

/* En-tête du modal */
.modal-header {
    background-color: #292929;
    text-align: center;
    padding: 10px;
}

/* Image du modal */
.modal-image {
    width: 100px;
    height: auto;
    border-radius: 5px;
    image-rendering: pixelated;
    object-fit: cover;
    background-color: #222;
    padding: 10px;
}

/* Corps du modal */
.modal-body {
    margin-top: 20px;
    text-align: center;
}

.modal-name{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #fff ;
    margin-top: 20px;
}

.modal-date {
    font-size: 18px;
    color: #ddd;
}

.modal-desc {
    font-size: 18px;
    color: #aaa;
}

/* Pour un défilement fluide dans le modal */
.modal-content {
    transition: max-height 0.3s ease-in-out;
}

.skin-3d {
    position: absolute;
    width: 10px !important; /* Ajustez cette valeur pour définir la taille souhaitée */
    height: auto !important; /* Maintient les proportions */
    top: 100px;
    right: calc(50% + 830px);
    margin-top: 80px;
}